@model SistemaBasico001.Models.alunos

@{
    ViewBag.Title = "Deletar Alunos";
    string Nascimento = string.Format("{0:dd/MM/yyyy}", Model.Nascimento);
}

<h2>Deletar</h2>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <h4>Alunos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm("Deletar", "alunos", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" value="@Model.IDAluno" name="Matricula" class="btn btn-danger">
                @if (Model.Ativo == 1)
                {
                <span>Desativar</span>
                }
                else if(Model.Ativo == null || Model.Ativo <= 0)
                {
                <span>Ativar</span>
                }
            </button>
            @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary" })
        </div>
    }
</div>
