@using SistemaBasico001.Models
@model SistemaBasico001.Models.alunos

@{
    ViewBag.Title = "Details";
    string Nascimento = string.Format("{0:dd/MM/yyyy}", Model.Nascimento);
    SistemaBasico001Entities db = new SistemaBasico001Entities();
    IQueryable<Alunos_Materias> AM = db.Alunos_Materias.Where(l => l.alunos.IDAluno == Model.IDAluno);
    IQueryable<Alunos_Turmas> AT = db.Alunos_Turmas.Where(l => l.alunos.IDAluno == Model.IDAluno);

}

<h2>Details</h2>

<div>
    <h4>alunos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<div class="form-group row">
    <div class="col-md-6 table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>
                        Turma
                    </th>
                    <th>
                        Ano
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in AT)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.turmas.Numero)</td>
                        <td>@Html.DisplayFor(modelItem => item.turmas.ano)</td>
                        <td>
                            @Html.ActionLink("Detalhes", "Details", "turmas", new { id = item.turmas.IDTurma }, new { @class = "btn btn-success" })
                            @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                            {
                                @Html.ActionLink("Deletar", "Delete", "Alunos_Turmas", new { id = item.IDAlunoTurma }, new { @class = "btn btn-danger" })
                            }
                            else if (Convert.ToInt32(Session["NivelDeAcesso"]) == 1)
                            {
                                <button type="button" class = "btn btn-primary details" data-id="@item.IDAluno" data-idTurma="@item.IDTurma"> Minhas Notas</button>
                                
                            }
                        </td>
                    </tr>
                }
                @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                {

                    @Html.ActionLink("Adicionar Turma", "Create", "Alunos_Turmas",new {idaluno = Model.IDAluno}, new { @class = "btn btn-primary" })

                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4 table-responsive">
        <table class="table  table-striped table-sm">
            <thead>
                <tr>
                    <th>Materias</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in AM)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.materias.Nome)
                        </td>
                        @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                        {
                            <td>@Html.ActionLink("Deletar", "Delete", "Alunos_Materias", new { id = item.IDAlunoMateria }, new { @class = "btn btn-danger" })</td>
                        }
                        <td>@Html.ActionLink("Detalhes", "Details", "materias", new { id = item.materias.IdMateria }, new { @class = "btn btn-success" })</td>
                    </tr>
                }
                @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                {
                    @Html.ActionLink("Adicionar Materia", "Create", "Alunos_Materias",new { idaluno = Model.IDAluno}, new { @class = "btn btn-primary" })
                }
            </tbody>
        </table>
    </div>
</div>
@if (Convert.ToInt32(Session["NivelDeAcesso"]) >= 2)
{
    <p>
        @Html.ActionLink("Voltar", "Index", "", new { @class = "btn btn-primary" })
    </p>
}

<div id="modal" class="modal fade" role="dialog" data-backdrop="static" />
@section scripts{

    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                var idTurma = $(this).attr("data-idTurma");
                $("#modal").load("/notas/Details/" + id + "?idTurma=" + idTurma, function () {
                    $("#modal").modal();
                })
            });
        });

    </script>
}

