@model IEnumerable<SistemaBasico001.Models.alunos>

@{
    ViewBag.Title = "Alunos";

}

<h2>Alunos</h2>
<form action="~/alunos/Index" method="get">
    <div class="container">
        <div class="row">
            <input type="number" placeholder="Digite a Matricula de um aluno" name="Matricula" class="form-control col-md-3 " />
            <input type="text" placeholder="Digite o nome de um aluno" name="Nome" class="form-control col-md-3 col-md-offset-1 col-sm-offset-0" />
            <button type="submit" class="btn btn-primary col-md-2 col-md-offset-1 col-sm-offset-0">Procurar <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <br />
</form>
<p>
    @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
    {
    @Html.ActionLink("Cadastrar Novo Aluno", "Create", "", new { @class = "btn btn-primary" })
    }
</p>
<form method="post">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            string Nascimento = string.Format("{0:dd/MM/yyyy}", item.Nascimento);
            if (item.Ativo < 0 || item.Ativo == null)
            {
                <tr class="@ViewBag.ColunaInativa">
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Nascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                        {
                        <button type="submit" class="btn btn-primary" formaction="~/alunos/Edit" value="@item.IDAluno" name="Matricula">Editar</button>
                        }
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" formaction="~/alunos/Details" value="@item.IDAluno" name="Matricula">Detalhes</button>
                    </td>
                    <td>
                        @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                        {
                        <button type="submit" class="btn btn-danger" formaction="~/alunos/Delete" value="@item.IDAluno" name="Matricula">
                            @if (item.Ativo == 1)
                            {<span>Ativado</span> }
                            else
                            {<span>Desativado</span>}
                        </button>
                        }
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Nascimento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                    <td>
                        @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                        {
                            <button type="submit" class="btn btn-primary" formaction="~/alunos/Edit" value="@item.IDAluno" name="Matricula">Editar</button>
                        }
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success" formaction="~/alunos/Details" value="@item.IDAluno" name="Matricula">Detalhes</button>
                    </td>
                    <td>
                        @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                        {
                            <button type="submit" class="btn btn-danger" formaction="~/alunos/Delete" value="@item.IDAluno" name="Matricula">
                                @if (item.Ativo == 1)
                                {<span>Ativado</span> }
                                else
                                {<span>Desativado</span>}
                            </button>
                        }
                    </td>
                </tr>
            }

        }

    </table>
</form>