@model SistemaBasico001.Models.Alunos_Materias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Alunos_Materias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.alunos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alunos.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materias.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materias.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDAlunoMateria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
