@using SistemaBasico001.Models
@model SistemaBasico001.Models.turmas

@{
    ViewBag.Title = "Detalhes Turmas";
    SistemaBasico001Entities db = new SistemaBasico001Entities();
    int turma = Convert.ToInt32(Session["IDAIU"]);
    IQueryable<Alunos_Turmas> AT = db.Alunos_Turmas.Where(p => p.IDTurma == turma);
    IQueryable<Professores_Turmas> PT = db.Professores_Turmas.Where(p => p.IDTurma == turma);
}



<div>
    <h4>Turmas</h4>
    <hr />
    <div class="jumbotron">
        <center>
            <h1>@Html.DisplayFor(model => model.ano)</h1>
        </center>
        <div>
            @Html.DisplayFor(model => model.Numero)
        </div>
        <div>
            Detalhes
        </div>
    </div>
    <div class=" form-group row">
        <div class="col-md-6 table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nome Aluno</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in AT)
                    {

                        <tr>
                            <td>@Html.DisplayFor(ModelItem => item.alunos.Nome)</td>
                            <td>
                                @if (Convert.ToInt32(Session["NivelDeAcesso"]) >= 2)
                                {
                                    var IDAluno = item.alunos.IDAluno;
                                    using (Html.BeginForm("Details","alunos")) {
                                        <button type="submit" value="@item.IDAluno" name="IDAluno" class="btn btn-success">Detalhes</button>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6 table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nome Professor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in PT)
                    {

                        <tr>
                            <td>@Html.DisplayFor(ModelItem => item.professores.Nome)</td>
                            <td>
                                @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
                                {
                                    using (Html.BeginForm("Details", "Professores_Turmas"))
                                    {
                                        <button type="submit" value="@item.IDProfessor" name="IDProfessor" class="btn btn-success">Detalhes</button>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    @if (Convert.ToInt32(Session["NivelDeAcesso"]) == 3)
    {
        @Html.ActionLink("Voltar", "Index", "turmas", "", new { @class = "btn btn-primary" })
    }
</p>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
