@model IEnumerable<SistemaBasico001.Models.materias>

@{
    ViewBag.Title = "Inicio Materias";
}

<h2>Materias</h2>
<form action="~/materias/Index" method="get">
    <div class="container">
        <div class="row">
            <input type="text" placeholder="Digite o Nome Da Materia" name="Materia" class="form-control col-md-3 " />
            <button type="submit" class="btn btn-primary col-md-2 col-md-offset-1 col-sm-offset-0">Procurar <i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <br />
</form>
<p>
    @Html.ActionLink("Adicionar Nova Materia", "Create", "", new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdMateria }, new { @class = "btn btn-primary" })
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdMateria }, new { @class = "btn btn-success" })
            </td>
            <td>
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdMateria }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
