@model SistemaBasico001.Models.Notas_Alunos_Turmas_Materias

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Notas_Alunos_Turmas_Materias</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.alunos.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alunos.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materias.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materias.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nota.Criador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nota.Criador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.turmas.ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.turmas.ano)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
