@using SistemaBasico001.Models
@model SistemaBasico001.Models.alunos

@{
    var i = Model.Matricula;

    SistemaBasico001Entities db = new SistemaBasico001Entities();
    nota nt = new nota();
    nt.IDTurma = Convert.ToInt32(ViewBag.IDTurma);
    IQueryable<SistemaBasico001.Models.materias> materia = (IQueryable<SistemaBasico001.Models.materias>)ViewData["materias"];
    IQueryable<Alunos_Materias> AM = db.Alunos_Materias.Where(am => am.alunos.Matricula == Model.Matricula);
    IQueryable<Materia_Turmas> MT = db.Materia_Turmas.Where(mt => mt.idTurma == nt.IDTurma);
    IQueryable<nota> notas = db.nota.Where(n => n.IDAluno == Model.Matricula && n.IDTurma == nt.IDTurma);
    ViewBag.Title = "Details";
    Layout = null;
    var materias = ViewBag.Materias;
    var materiasDoAluno = from mt in db.Alunos_Materias
                          from tu in db.Materia_Turmas
                          where Model.IDAluno == mt.IDAluno &&
                          tu.idMateria == mt.IDMateria &&
                          tu.idTurma == nt.IDTurma
                          select mt;
    var notasDoAluno = from nta in db.nota
                       select nta;
    var nota = ViewBag.TabelaDeNotas;

}

<h2>Details</h2>

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Model.Nome</h4>
            </div>
            <div class="modal-body">
                <hr />
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Matricula)</dt>
                    <dd>@Html.DisplayFor(model => model.Matricula)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Nascimento)</dt>
                    @{string Nascimento = string.Format("{0:dd/MM/yyyy}", Model.Nascimento);}
                    <dd>@Html.DisplayFor(model => Nascimento)</dd>
                    <dt>@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.Email)</dd>
                </dl>
                <br />
                @Html.ActionLink("Adicionar nota", "Create", "", new { @class = "btn btn-primary" })
                @Html.ActionLink("Excluir Nota", "Delete", "", new { @class = "btn btn-danger" })
                @Html.ActionLink("Atualizar Nota", "Edit", "", new { @class = "btn btn-primary" })
                <table class="table table-bordered">
                    <tr>
                        <th class="Center">
                            Materias
                        </th>
                        <th>Nota 1</th>
                        <th>Nota 2</th>
                        <th>Nota 3</th>
                        <th>Nota 4</th>
                        <th>Recuperação</th>
                        <th>Nota Total</th>
                    </tr>
                    @*@foreach (var item in materiasDoAluno)
            {
                //double[] Total = new double[5] ;
                //double total;
            <tr>
                @item.materias.Materia_Turmas.Where(mt => mt.idTurma == nt.IDTurma)
                <td class="Center">@item.materias.Nome</td>

                @foreach (var item2 in notasDoAluno)
                {
                    if (item.materias.IdMateria == item2.IDMateria && Model.IDAluno == item2.IDAluno)
                    {
                        <td>@item2.Nota1</td>
                    }
                }
            </tr>
            }*@
                    @foreach (var item in nota)
                    {
                        <tr>
                            <td>@item.Materia</td>
                            <td>@item.Nota1</td>
                            <td>@item.Nota2</td>
                            <td>@item.Nota3</td>
                            <td>@item.Nota4</td>
                            <td>@item.Recu</td>
                            <td>@item.Media</td>
                        </tr>
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
