@model SistemaBasico001.Models.professores

@{
    ViewBag.Title = "Detalhes Professores";
    string Nascimento = string.Format("{0:dd/MM/yyyy}", Model.Nascimento);
}

<h2>Detalhes</h2>

<div>
    <h4>Professores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nascimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => Nascimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Senha }, new { @class = "btn btn-success"}) 
    @Html.ActionLink("Voltar", "Index","",new { @class = "btn btn-primary"})
</p>
